body {
  background-color: #000099;
  color: #ffffff;
}

span.title_text {
  color: #ffff00;
}

span.title_text {
  color: #ffff00;
}

span.header1{
  width: 50%;
  height: 100px;
  background-color: #99a6ff;
}

.header2{
  width: 50%;
  height: 100px;
  background-color: #99a6ff;
}