body {
    font-family: 'arial', sans-serif;
    width: 1200px; max-width: 100%;
    margin: auto;
    background-image:url("images/background.png");
}
#main_content {
    background-color: white;
    border: double 5px #4ec4d3;
}
.headr {
    background: #42ce6c url(images/banner.png) no-repeat top / auto auto;
    background-origin: border-box;
    height: 300px;
}
header {
    display: flex;
    width: 1200px;
    height: 50px;
    background-color: #e0e0e0;
    align-items: center;
    position: fixed;
  }
   
  .title {
  }
   
  .menu-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
  }
